<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="union.message.vip">

    <application android:icon="@mipmap/ic_launcher" android:label="派聊">
        <activity android:name=".MainActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:exported="true" android:hardwareAccelerated="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rueb35" />
            </intent-filter>

            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />

        </activity>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />

        <!--安卓集群域名配置-->
        <!--        <meta-data android:name="XG_SERVER_SUFFIX" android:value="tpns.hk.tencent.com" />-->
    </application>
    <!--获取相册图片-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--获取相册视频-->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!--应用程序用到摄像头的自动对焦功能-->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!--允许访问摄像头进行拍照-->
    <uses-feature android:name="android.hardware.camera" />
    <!--录制声音通过手机或耳机的麦克-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--获取网络信息状态，如当前的网络连接是否有效-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--改变网络状态如是否能联网-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--修改声音设置信息-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--http网络访问-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--应用程序需要使用摄像头设备-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--写入文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取文件权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--文件管理权限-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!--读取图片信息-->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />


    <!--允许获取精确位置，精准定位必选-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--允许获取粗略位置，粗略定位必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--允许获取设备和运营商信息，用于问题排查和网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--允许获取网络状态，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--允许获取wifi网络信息，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--允许获取wifi状态改变，用于网络定位（无gps情况下的定位），若需网络定位功能则必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--后台获取位置信息，若需后台定位则必选-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!--用于申请调用A-GPS模块,卫星定位加速-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--允许写设备缓存，用于问题排查-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--允许设备震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--允许安装apk-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--允许打开音频-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!--允许应用后台运行-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


</manifest>
